@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-gold:#9e865e;
    --color-blue:#2E466D;
    --color-lightGrey:#E0E0E1;
    --color-greyTwo: #c6c9cb;
    --color-whiteTwo:#f0efef;
    --color-blueTwo:#2e466d;
    --color-white:white;
}

/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Plus Jakarta Sans;
    background-color: #F9F9F9;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.container{
    align-items: center;
    justify-content: center;
    width: 100%;
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header{
    font-size: 32px;
    color: var(--color-gold);
    text-align: center;
}


/* nav */
.navbar{
    position: relative;
    padding: 2rem;
    z-index: 1;
}

.navbar video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.space{
    padding-top: 7rem;
}

.right{
    margin-left: 0.7rem;
}
.nav-container a{
    color: white;
    font-size: 15.7px;
    padding: 7px;
    font-weight: 200;
    line-height: 1.3rem;
}
.nav-text{
    margin-left: 8rem;    
}

.nav-text ul{
    gap: 1.4rem; 
}

.links:hover{
    color:#b37c1e;
    font-size: 16px;
}

/* Hamburger Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
    font-size: 1.4rem;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }

/* nav ends here*/

/* text-description */

.text-description{
    color: white;
    margin-top: 6rem;
    margin-left: 11rem;
    max-width: 570px;
}


.heading h1{
    font-size: 2.7rem;
}

.gold{
    color: var(--color-gold);
}
.heading p{
    font-size: 13px;
    margin-top: 0.7rem;
    word-spacing: 2px;
}

/* arrow */

.arrow{
    position: relative;
    left: 30px;
    padding-top: 90px;
}

.scroll{
    position: absolute; 
    left: 3px; /* Distance from the right side */
    top: 60px;    /* Center vertically */
    transform: translateY(-50%);
    writing-mode: vertical-rl; /* Makes text vertical */
    text-align: center;
    font-size: 11px;
    color: white; 
    letter-spacing: 2px; 
}

/* main */
.spacing{
    margin: 40px auto;
    width: 85%;
}

.section-padding{
    padding: 4rem ;
}

.choose-us-padding{
    padding: 4rem 0 4rem 4rem;
}

.box-img{
    width: 550px;
    height: 550px;
    border-radius: 50px;
    position: relative;
}

.img img{
    width: 550px;
    height: 550px;
}

.about-container .text{
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color:#090914;    
    margin-top: 0;
    justify-content: center;
}

.about-container h4{
    line-height: 20.16px;
    color: var(--color-gold);
    font-weight: 700px;
    font-size: 16px;
    margin-bottom: 18px;
}

.about-container h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    justify-content: center;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 2rem;
}

/*                  Vision and Mission Styling                          */
.vision-container{
    background-color: var(--color-lightGrey);
    text-align: center;
    display: grid;
    grid-template-columns: 30% 40% 30%; /* Left: 30%, Center: 40%, Right: 30% */
    gap: 2rem;
}

.vision-header, .mission-header {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.vision-text, .mission-text {
    line-height: 2em;
}

.vision, .mission{
    width: 20.82rem;
}

.icon-a .icon{
    transform: rotate(60deg);
    font-size: 20px;
    color: var(--color-gold);
}

.icon-b .icon{
    transform: rotate(-40deg);
    font-size: 20px;
    color: var(--color-gold);
}

.vision-container h2{
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 40.32px;
    margin-bottom: 1rem;
    color: var(--color-gold);
}
/*                              ends here                                 */

/*                              goal section                              */
.goal-container{
   
}

.goal{
    width: 30%;
    padding: 2.5em;
}

.layer-a {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.layer-b{
    display: flex;
    justify-content: space-evenly;
    /* padding: 2em 0; */
}

.goal img{
    width: 70px;
}


.goal-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5em;
    padding-left: 50px;
    color:#5C5C5C;
}

.goal-header{
    display: flex;
}

.goal-header h3{
    padding-top: 0.5em;
}

.goal-header img{
    width: 50px;
    height: 50px;
}
/* ends here */

/* value  */

.wave-length{
    /* padding: 1rem 0; */
    position: relative;
}
.value-design{
    position: relative;
}

.values{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value{
    position: absolute;

}

.value div{
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    margin: auto;
    z-index: 1;
}

.value h3{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 25.2px;
    letter-spacing: 0%;
    text-align: center;
}

.value-a {
    left: 10%;
    bottom:20px; 
}

.value-b{ 
    left: 40%;
    bottom:-50px;
}

.value-c {
    left: 60%; 
    bottom: 200px;
}

.value-d {
    left: 87%; 
    bottom: 180px;
}
/* ends here */

/* division styling */
.division-container{
    background-color: #F0EFEF; 
}

.divs-header h2{
    text-align: center;
    font-size:32px ;
    color: var(--color-gold);
}


.division-a {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 3rem;
    max-width: 1200px;
}

.division-b {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 3rem;
    max-width: 900px;
}

.division{
    align-items: flex-start;
    /* padding: 20px; */
    text-align: center;
}

.division div{
    margin: 0.7rem;
}

.division h3{

 font-weight: 700;
 font-size: 21px;
 line-height: 28px;
 color: #18181B;
}

.division p{
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #52525B;
 text-align: center;
}


/* ends here */

/* choose section */

.choose-container h2{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 32px;
    line-height: 40.32px;
    color: var(--color-gold);
}

.choose-text h3{
    font-size: 21px;
    line-height: 26.46px;
}
.choose-content{
    display: flex;
    column-gap: 2rem;
    width: 97%;

}

.choose-text{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    column-gap: 2rem;
}

.choose-text .text{
    width: 85%;
    line-height: 1.8em;
}

.choose-text .text p{
    padding: 1em 0;
}

.choose-content .image{
    background-size: 100%;
}

/* choose section ends here */

/* footer styling */

.gct-details{
    width: 100%;
    padding: 2rem 4rem;
    background-color: var(--color-blue);
    
    
}

.details-container{
    gap: 5.5rem;
}

.location,.contact,.date-time,.follow-us{
    gap: 1rem;
    max-width: 330px;
}
.location,.contact,.date-time,.follow-us .footer-text{
    color: white;
}

.footer-text h3{
    font-size: 16px;

}
.footer-text p ,.follow-us div{
    font-weight: 400;
    padding-top: 1rem;
    font-size: 14px;
}

.copyright{
    padding-top:3rem ;
    width: 100%;
    text-align: center;

    font-size: 14px;
    color:white;
}
/* footer styling ends */









/*                          MOBILE RESPONSIVENESS                                     */
@media (max-width: 1080px) {
body{
    width: 100%;
}

.space{
    padding-top: 2rem;
}

.section-padding{
    padding: 1.5em;
}

.nav-text{
    display: none;
}

.hamburger{
    display: block;
}

.img img{
    width: 300px;
    height: 350px;
}

.vision-container{
  display: block;
}

.vision-header, .mission-header {
    padding-top: 2rem;
}

.vision, .mission{
  width: 100%;
}

.vision-img img{
    width: 60%;
    padding-top: 3em;
}

.choose-content .image{
    display: none;
}

.value-a {
    left: 5%;
    bottom:20px; 
}

.value-b{ 
    left: 40%;
    bottom:-10px;
}

.value-c {
    left: 60%; 
    bottom: 180px;
}

.value-d {
    left: 85%; 
    bottom: 150px;
}

.division {
    padding-bottom: 1em;
}

.division-a {
    display: block;
}

.division-b {
    display: block;
}

.choose-text .text{
    text-align: center;
    padding-bottom: 1.5em ;
}

.gct-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
    padding: 20px;
}

.goal{
    width: 50%;
    padding: 1.2em;
}

.layer-a {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

}




    



